<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script src="http://cdn.bootcss.com/vConsole/3.3.0/vconsole.min.js"></script>
  <script>new VConsole()</script>
  <style>
    #__vconsole .vc-switch {
      bottom:60px !important;
    }
	</style>
		<style type="text/css">
			body,
			html,
			#allmap {
				width: 100%;
				height: 100%;
				overflow: auto;
				margin: 0;
				font-family: "微软雅黑";
				background: #f8f8f8;
			}

			#allmap {
				width: 100%;
				height: 100vh;
			}

			.xc-group {
				margin-bottom: 10px;
				background: #fff;
			}

			.xc-group>div>div {
				padding: 2px;
			}

			/*.sun-left .sun .sun-left > div:first-child {
      border-bottom: solid 1px #eee;
    }*/
			.sun {
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 70px);
				border-right: solid 1px #eee;
			}

			.xc-group .sun>div:first-child {
				border-bottom: solid 1px #eee;
			}

			.sub-right {
				display: inline-block;
				vertical-align: top;
				width: 60px;
				text-align: center;
				padding-top: 10px;
				/* position: relative;top:-10px; */
			}
			.xc-day {
				display: inline-block;
				vertical-align: top;
				height: 42px;
				width:42px;
				line-height: 42px;
				text-align: center;
				/* padding: 4px; */
			}
			.xc-day-select {
				color:#fff;
				border-radius: 32px;
				background-color: rgb(64, 158, 255);

			}
			.sday-select {
				background-color: #01AAEE;
			}
			.yearmonth {
				position: absolute;
				    width: 45px;
				    left: -2px;
				    height: 14px;
				    top: 23px;
				    opacity: 0;
			}
		</style>
		<script type="text/javascript"
			src="http://api.map.baidu.com/api?type=webgl&v=1.0&ak=48Roq20p72HfZGhxnKm3BPE8mK4ZCtzc"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/gl/src/LuShu_min.js"></script>
		<!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
		<link href="./lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
		<!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
		<script src="./lib/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
		<script src="./lib/ligerUI/js/core/base.js" type="text/javascript"></script>
		<script src="./lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<title>车辆行程</title>
	</head>

	<body>
		<div id="allmap">
			<div style="padding: 4px 16px 0 16px;position: relative;height: 32px;border-bottom: solid 1px #DDd;">
				<span style="position: relative;top:4px;">IMEI:{{imei}}</span>
				<div
					style="display: inline-block;vertical-align: top;position: absolute;right: 16px;background: #409eff;color: #fff;padding: 2px 8px;border-radius: 2px;">
					<img src="http://daka.xixiaoli.com/webgl/img/trunk.png"
						style="width:20px;height:20px;padding-right: 8px;display: inline-block;vertical-align: text-bottom;" />
					<span>{{deviceName}}</span>
				</div>
			</div>
			<div style="padding:8px;border-bottom: 1px solid rgb(221, 221, 221);background-color: #FFF;">
				<div>
					<!-- 请选择日期：<input class="xc-now" type="date" style="display: inline-block;" /> -->
					<div style="text-align: center;display: inline-block;padding: 4px;position: relative;">
						{{year}}年<br>
						{{month}}月
						<img src="http://daka.xixiaoli.com/webgl/img/calendar.png" style="width:16px;height:16px;position: relative;top:3px;" />
						<input type="month" id="start" name="start"
						       min="2021-01" :value="yearmonth" @input="changeValue" class="yearmonth">
					</div>
					<div class="sday" style="text-align: center;display: inline-block;padding: 4px; border-radius: 24px;">
						<img @click="handleRecent" style="border-radius: 16px;width:30px;height:30px;display: inline-block;vertical-align: text-bottom;" src="http://daka.xixiaoli.com/webgl/img/recent.png" />
					</div>
					<div ref="dateRows" style="overflow: auto;display: inline-block;vertical-align: top;width: calc(100% - 94px);">
						<div  class="dataRows"  :style="{width:iwidth}">
							<div v-for="(item,index) in days" :class="{'xc-day':true,'xc-day-select':item.select}" :key="index" @click="handleDay(item,index)">
								{{item.val}}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div>
				<!-- <template v-if="rows && rows.length>0"> -->
					<div  v-for="(item,index) in rows" style="padding: 8px" :key="index">
						<div  v-for="(sub,sindex) in item" :key="sindex" class="xc-group">
							<div class="sun">
								<div v-for="(sun,sunindex) in sub" :key="sunindex">
									<img :src="handleImg(sunindex)"
										style="width:20px;height:20px;display: inline-block;vertical-align: top;    margin: 6px;" />
									<div style="display: inline-block;vertical-align: top;width: calc(100% - 36px);">
										<div style="color:#409eff">
											<span>{{sun.gpsTime}}</span>
											<label>{{sunindex == 0?'起点':'终点'}}</label>
										</div>
										<div>{{sun.locationName}}</div>
									</div>
								</div>
							</div>
							<div class="sub-right" style="">
								<img src="http://daka.xixiaoli.com/webgl/img/distance.png"
									style="width:30x;height:30px;display: block;margin:0 auto;" />
								{{sub.disKm}}
							</div>
						</div>
					</div>
				<!-- </template> -->
				
				<div v-if="!rows.data || rows.data.length ==0">
					<img style="width:200px;height:280px;margin:50px auto;display: block;" src="http://daka.xixiaoli.com/webgl/img/nodata.png" />
				</div>
			</div>
		</div>
		<div id="tmpMap" style="height:1px;width:1px;">

		</div>
	</body>

</html>
<script type="text/javascript">
	var now = getNowFormatDate();
	console.log('now', now, $('.xc-now'))
	$('.xc-now').attr('value', now);


	var app = new Vue({
		el: '#allmap',
		data: {
			message: '行程数据',
			rows: [],
			locationNames: [],
			imei: '',
			deviceName: '',
			year:'2021',
			month:'7',
			day:'1',
			days:[],
			iwidth:''
		},
		created() {
			var that = this;
			
			this.imei = window.location.href.split('imei=')[1].split('&deviceName=')[0];
			this.deviceName = decodeURI(window.location.href.split('imei=')[1].split('&deviceName=')[1])
			this.main();
			// $('.xc-now').on('input', function(e) {
			// 	var changeValue = $(e.currentTarget).val();
			// 	$('.xc-now').attr('value', changeValue);
			// 	// debugger
			// 	that.main(changeValue)
			// });
			// debugger
			this.getDaysArr()
		},
		computed:{
			yearmonth(){
				return this.year + '-' + this.month
			}
		},
		mounted() {
			this.$nextTick(()=>{
				// debugger
				// setTimeout(() => {
				// 	// this.$refs.rightTable.scrollLeft = 1500;
				// 	// $('.dataRows').scrollLeft((this.day + 10) * 42 )
				// 	this.$refs['dateRows'].scrollLeft = (Number(this.day) +10) * 42
				// }, 2000);
				
				this.$refs['dateRows'].scrollLeft = (Number(this.day) - 1 * 42 )
			})
		},
		methods: {
			changeValue(val){
				console.log('val',val)
				let tarValue = val.target.value;
				this.year = tarValue.split('-')[0];
				this.month = tarValue.split('-')[1];
				this.getDaysArr(this.year,this.month);
				let timeStr = this.year +'-'+ this.month+'-01';
				this.main(timeStr)
			},
			handleRecent(){
				this.days.forEach(sub=>{
					sub.select = false
				});
				$('.sday').addClass('sday-select')
				let sevenBefore = new Date().getTime() - 86400 * 7 * 1000;
				let sevenTime = getNowFormatDate(sevenBefore)
				console.log('sevenTime',sevenTime)
				let param = {
					startTime: sevenTime + ' 00:00:00',
					endTime: now + ' 23:59:59',
					imei: this.imei
				};
				
				this.initXC(param)
			},
			handleDay(item,index){
				this.$nextTick(()=>{
					if(item.val>4){
						this.$refs['dateRows'].scrollLeft = (Number(item.val) - 3) * 42 
					}
				})
				
				$('.sday').removeClass('sday-select')
				this.days.forEach(sub=>{
					if(sub.val == item.val){
						sub.select = true
					}else {
						sub.select = false
					}
				});
				let timeStr = this.year +'-'+ (this.month<=9?'0'+this.month:this.month)+'-'+(item.val<=9?'0'+item.val:item.val)
				this.main(timeStr)
			},
			getDaysArr(year,month){
				this.year = year?year:new Date().getFullYear()
				this.month = month?Number(month):new Date().getMonth()+1
				this.day = month?1:new Date().getDate()
				this.days = [] 
				let length = new Date(this.year, this.month, 0).getDate();
				// for (var i = length ; i>0 ; i--) {
				// 	let obj = {
				// 		val:i,
				// 		select:this.day == i ?true:false
				// 	}
				// 	this.days.push(obj)
				// }
				for (var i = 1 ; i<=length ; i++) {
					let obj = {
						val:i,
						select:this.day == i ?true:false
					}
					this.days.push(obj)
				}
				this.iwidth = 42 * (length) + 'px'
			},
			handleImg(num) {
				if (num == 0) {
					return 'http://daka.xixiaoli.com/webgl/img/start.png'
				} else {
					return 'http://daka.xixiaoli.com/webgl/img/end.png'
				}
			},
			main(time) {
				var that = this;
				if (sessionStorage.getItem('__user_session')) {
					let param = {
						startTime: time ? time + ' 00:00:00': now + ' 00:00:00',
						endTime: time ? time + ' 23:59:59': now + ' 23:59:59',
						imei: this.imei
					};
					that.initXC(param)
				} else {
					$.ajax({
						url: "http://www.huatiexft.com:8070/eqplapp2/login.do",
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify({
							"user_code": "陈李强辉",
							"password": 123456,
							"loginType": "20"
						}),
						xhrFields: {
							withCredentials: true //允许跨域带Cookie
						},
						success: function(data) {
							// ?__user_session=738CB5F330B7F0A538A22F8CD30977A6
							sessionStorage.setItem('__user_session', data.success)
							sessionStorage.setItem('_userInfo', JSON.stringify(data))
							let param = {
								startTime: time ? time +' 00:00:00' : now + ' 00:00:00',
								endTime: time ? time + ' 23:59:59': now + ' 23:59:59',
								imei: this.imei
							};
							that.initXC(param)
							// initPosition()
						}
					});
				}

			},
			initXC(param) {
				var that = this;
				$.ligerDialog.waitting('正在加载中,请稍候...');
				$.ajax({
					url: "http://www.huatiexft.com:8070/eqplapp2/jimiCar/getTravel.do?imei=" + param.imei +
						"&startTime=" + param.startTime + "&endTime=" + param.endTime +
						"&__user_session=" + sessionStorage.getItem('__user_session'),
					type: 'get',
					contentType: 'application/json',
					data: {},
					xhrFields: {
						withCredentials: true
					},
					success: function(data) {
						if (data) {
							try {
								// let tmpdata = data;
								let tmpdata = JSON.parse(data);
								
								if(tmpdata.data && tmpdata.data.length>0){
									tmpdata.data.forEach(item => {
										if(item && item.length>0){
											item.forEach(sub => {
												that.getLocationName(sub)
											})
											var map = new BMapGL.Map('tmpMap');
											// map.getDistance(point1 ,point2);
											var pointA = new BMapGL.Point(item[0].lng, item[0].lat); // 创建点坐标A
											var pointB = new BMapGL.Point(item[1].lng, item[1].lat);
											var distance = map.getDistance(pointA, pointB);
											var disKm = (distance / 1000).toFixed(2) + "km";
											console.log('disKm', disKm)
											item.disKm = disKm
										}
										
									});
									// that.rows.push(tmpdata[0])
									setTimeout(() => {
										if(tmpdata && tmpdata.data && tmpdata.data[0] && tmpdata.data[0].length > 0){
											that.rows = tmpdata
										}else {
											that.rows = {data:[]}
										}
										$.ligerDialog.closeWaitting();
									}, 1000)
								}else {
									console.log('tmpdata', tmpdata)
									that.rows = {data:[]}
									$.ligerDialog.closeWaitting();
								}
								// initXCrows(tmpdata)
							} catch (err) {
								console.log('err',err)
								that.rows = {data:[]}
								$.ligerDialog.closeWaitting();
								// $.ligerDialog.error('暂无数据')
							}
						} else {
							that.rows = {data:[]}
							$.ligerDialog.closeWaitting();
							$.ligerDialog.error('暂无数据')
							
						}
					},
					error:function(err){
						console.log('err',err)
						$.ligerDialog.closeWaitting();
					}
				});
			},
			initXCrows(row) {

			},
			getLocationName(param) {
				var that = this;
				var geoc = new BMapGL.Geocoder();
				let pt = new BMapGL.Point(param.lng, param.lat)
				// let pt = {
				//   lng:param.lng,
				//   lat:param.lat
				// };
				geoc.getLocation(pt, function(rs) {
					var addComp = rs.addressComponents;
					param.locationName = addComp.province + addComp.city + addComp.district + addComp
						.street + addComp.streetNumber;
					that.locationNames.push(addComp.province + addComp.city + addComp.district + addComp
						.street + addComp.streetNumber);
				})
			}
		}
	})


	function getNowFormatDate(time) {
		if(time){
			var date = new Date(time);
		}else {
			var date = new Date();
		}
		
		var seperator1 = "-";
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
		var strDate = date.getDate();
		if (month >= 1 && month <= 9) {
			month = "0" + month;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}
		var currentdate = year + seperator1 + month + seperator1 + strDate;
		return currentdate;
	}
</script>
